<h3>New Collection</h3>
<form>
<div class="form-group">
<label for="firstName">Collection Name</label>
<input type="text" name="collName" [(ngModel)]="user.collName">
</div>
<div class="form-group">
<label for="lastName">Collection Description</label>
<input type="text" name="collDesc" [(ngModel)]="user.collDesc">
</div>
<div class="form-group">
<label for="email">Squad</label>
<input type="text" name="squad" [(ngModel)]="user.squad">
</div>
<div class="form-group">
<input  type="file" (change)="onFileSelected($event)"/>
</div>
<div class="form-group">
    <button type="submit" (click)="saveUser()">Save User</button>
</div>
<div class="container text-center jumbotron"
    *ngIf="shortLink">
    <h2> Visit Here</h2>
    <a href="{{shortLink}}">{{shortLink}}</a>
</div>
</form>